/* Existing CSS */
body {
  background-color: #f9f2e3; /* Light yellow background */
  color: #333; /* Dark text */
  font-family: "Georgia", serif;
}
.content {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  text-align: justify;
}
.btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
footer {
  padding: 1em;
  text-align: center;
  min-height: 100px;
  z-index: 999;
}

.gradient_bottom {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  min-height: 100px;
  margin: 0px;
  z-index: -3;
}

.gradient_top {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  min-height: 100px;
  margin: 0px;
  z-index: 0;
}

.card {
  border-radius: 15px;
}
.center-screen {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
}

/* Gradient navbar */
nav {
  background-color: transparent;
  min-height: 100px;
  z-index: 999;
}

.content {
  margin-bottom: 0;
}

.card-full-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;  /* Start at fully transparent */
  transition: max-height 1s ease, opacity 1s ease;
  margin: 0px;
  text-wrap:wrap;
}

.card-full-content.expanded {
  transition: max-height 1s ease, opacity 1s ease;
  max-height: 20000px;  /* Set to a max value that's larger than any content */
  opacity: 1;  /* Fade to fully opaque */
}

.card-teaser.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;  /* Start at fully transparent */
  transition: max-height 0.67s ease, opacity 1s ease;
}

.card-teaser {
  transition: max-height 2s ease, opacity 3s ease;
  max-height: 1000px;  /* Set to a max value that's larger than any content */
  opacity: 1;  /* Fade to fully opaque */
}

/* Common style */
.img-c {
  margin: 15px;
  border-radius: 15px;
  object-fit: cover;
}

/* Sizes: small (s), medium (m), large (l) */
.img-sm {
  width: 100px;
  height: 100px;
}

.img-me {
  width: 175px;
  height: 175px;
}

.img-la {
  width: 250px;
  height: 250px;
}

/* Positions: left (l), right (r), center (c) */
.img-le {
  float: left;
  margin-left: 0px;
  margin-top: 15px;
}

.img-ri {
  float: right;
  margin-right: 0px;
  margin-top: 60px;
}

.img-ce {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%; /* Fill the entire horizontal space */
  height: 150px; /* Set a fixed height, adjust as needed */
  object-fit: cover; /* Make the image cover the div */
  margin-bottom: 15px;
}

.fade {
  opacity: 0;
  transition: opacity 2s ease;
}

.code-card {
  background-color: #f4f2f0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .content {
    padding: 1em;
    text-align: left; /* If you prefer the text to be left-aligned on mobile */
  }

  .btn {
    width: 100%; /* Take up all horizontal space */
    margin-right: 0;
    margin-bottom: 5px; /* Adjust for better spacing */
  }

  .btn-blog {
    margin-top: auto;
  }
  
  .img-sm, .img-me, .img-la {
    width: 100%; /* Fill the entire horizontal space */
    height: 150px; /* Set a fixed height, adjust as needed */
    object-fit: cover; /* Make the image cover the div */
  }

  .center-screen {
    min-height: 60vh;
    text-align: left; /* If you prefer the text to be left-aligned on mobile */
  }

  /* For card content */
  .card-full-content.expanded {
    max-height: 20000px; /* Increase max height for better mobile viewing */
  }

  .img-sm, .img-me, .img-la {
    width: 100%; /* Fill the entire horizontal space */
    height: 150px; /* Set a fixed height, adjust as needed */
    object-fit: cover; /* Make the image cover the div */
    margin-bottom: 15px;
  }

  .img-le, .img-ri {
    float: none;
    margin: 15px auto;
  }

  /* Add more styles specific to mobile if needed */
}