.list-group {
  border-radius: var(--list-border-radius);
  overflow: hidden;
  margin: var(--list-margin);
}

.list-group-item {
  background-color: var(--list-item-bg);
  color: var(--text-color);
  border-color: var(--list-border-color);
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease,
    border-color var(--transition-speed) ease;
}

.list-group-item:nth-child(even) {
  background-color: var(--list-item-alt-bg);
}

.list-group-item:first-child {
  border-top-left-radius: var(--list-border-radius);
  border-top-right-radius: var(--list-border-radius);
}

.list-group-item:last-child {
  border-bottom-left-radius: var(--list-border-radius);
  border-bottom-right-radius: var(--list-border-radius);
}
