.quick-nav {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--transition-speed) ease;
}

.quick-nav:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.quick-nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quick-nav-item {
  position: relative;
}

.quick-nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9em;
  padding: 5px 10px;
  transition: color var(--transition-speed) ease;
}

.quick-nav-link:hover {
  color: var(--quick-nav-link-hover-color);
  text-decoration: none;
}

.quick-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--quick-nav-link-underline-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all var(--transition-speed) ease;
}

.quick-nav-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 1rem 0;
}

.navbar-brand {
  color: var(--navbar-brand) !important;
  transition: color var(--transition-speed) ease;
}

.navbar-brand:hover {
  color: var(--navbar-brand-hover) !important;
}
